<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Listado de Ventas</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <main class="contenedor">
      <h1>Listado de Ventas</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Total</th>
            <th>Productos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% ventas.forEach(venta => { %>
          <tr>
            <td><%= venta.id %></td>
            <td><%= venta.nombre_usuario %></td>
            <td>$<%= venta.total %></td>
            <td>
              <ul>
                <% venta.VentaProductos.forEach(producto => { %>
                <li>
                  Producto ID: <%= producto.producto_id %>, Cantidad: <%=
                  producto.cantidad %>, Precio Unitario: $<%=
                  producto.precio_unitario %>
                </li>
                <% }) %>
              </ul>
            </td>
            <td>
              <a href="/ventas/<%= venta.id %>" class="btn btn-info"
                >Ver Detalle</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
